*~
*#
.idea/*
.vscode/*
build/*
build_pat/*
install/*
install_pat/*
*/.venv

test*/[Rr]esults*/*
test*/work*/*
test*/HiDEM.inst+*/*
exp*/[Rr]esults*/*
exp*/work*/*
exp*/HiDEM.inst+*/*

*/*.out.log
*/*.err.log
run_isambard3*.slurm
run_isca.slurm
build-options.apa
HiDEM.inst_timing_report.txt
MPICH_RANK_ORDER.Grid
