*~
*#
.idea/*
.vscode/*
build/*
build_pat/*
install/*
install_pat/*
*/.venv
test/[Rr]esults*/*
test/work/*
test_DoublePrec/*
exp*/[Rr]esults*/*
exp*/[Rr]esults*/*
exp*/work*/*
exp*/HiDEM.inst+*/*
*/*.log
run_isambard3*.slurm
run_isca.slurm
exp*/build-options.apa
exp*/HiDEM.inst_timing_report.txt
exp*/MPICH_RANK_ORDER.Grid
